__pycache__/
*.py[cod]
*.egg-info/
.venv/
build/
dist/
.coverage
.env
.env.*
!.env.example
env
env.*
!env.example
*.sqlite
*.sqlite3
*.sqlite-*
*.sqlite3-*
*.db
*.db-*
*.log
config.*.toml
config.toml
!config.example.toml
!**/*.example.toml
wheelhouse/
